html {
  scroll-behavior: smooth;
}

.menu__logo {
  height: 100%;

  img {
    height: 100%;
  }
}

.menu__login {
  margin-left: auto !important;
}

.product-list {
    display: grid;
    gap: 16px; /* khoảng cách giữa các card */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.product-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

.product-card:hover {
  transform: translateY(-8px);
  /* nhích lên trên 8px */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* thêm bóng nhẹ */
}

.product-image {
  height: 150px;
  object-fit: cover;
}
